{% extends "base.html" %} {% block content %}
    <meta name="viewport" content="width=device-width, initial-scale=1" charset=utf-8 ">

    <div class="container">
        <article class="markdown-body ">
            <h1>Mirror Trading</h1>
            <h2>Who Are We?</h2>
            <p>We are Mirror Trading! </p>
            <p>A social trading platform that aims to democratize money management by effectively connecting investors
                with
                capital and those with investment skills.</p>
            <h2>Team</h2>
            <p>
                <img src="../static/images/team_photo.jpg " alt="Team Mirror Trading ">
        </article>
    </div>
    <footer class="container-fluid foot-wrap ">
        <p align="center " style="margin-top: 20px;color:#878B91; ">
            Copyright &copy; 2018 Team Mirror Trading
        </p>
    </footer>
{% endblock %}