{% extends "bootstrap/base.html" %}

{% block title %}Mirror Trading{% endblock %}

{% block head %}
{{ super() }}

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" type="text/css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<title>Proudly presented by Mirror Trading</title>
{% for jsfile_name in script_list %}
<script src="static/echarts/{{ jsfile_name }}.js"></script>
{% endfor %}
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Home</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/dashboard">Dashboard</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="/aboutus">About us</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, Evan<b
                        class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="icon-cog"></i> Preferences</a></li>
                        <li><a href="#"><i class="icon-envelope"></i> Contact Support</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="icon-off"></i> Logout</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group input-group">
                    <input type="text" class="form-control" placeholder="Search..">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search" data-toggle="modal" data-target="#myModal"></span>
                        </button>
                    </span>
                </div>
            </form>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Search Result</h4>
                    </div>
                    <div class="modal-body">
                        <h4>
                            <button type="button" class="btn btn-danger">Trending <span class="badge">2</span></button>
                        </h4>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Interests</th>
                                <th>Overall Yield</th>
                                <th>Followers</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="info">
                                <td><img src="../static/images/WarrenBuffett.png" class="img-rounded"> Warren Buffett
                                </td>
                                <td>Technology<br>Communication</td>
                                <td>
                                    <p class="text-success">+30.45%</p>
                                </td>
                                <td>121,221</td>
                            </tr>
                            <tr class="primary">
                                <td><img src="../static/images/MichaelBurry.jpeg" class="img-rounded"> Michael Burry</td>
                                <td>Bio-tech<br>Industrial</td>
                                <td>
                                    <p class="text-primary">+19.21%</p>
                                </td>
                                <td>99,332</td>
                            </tr>
                            </tbody>
                        </table>
                        <h4>
                            <button type="button" class="btn btn-primary">User <span class="badge">1</span></button>
                        </h4>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Portfolio Overview</th>
                                <th>Performance</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="bg-success">
                                <td><img src="../static/images/aaronlu.jpg" class="img-rounded"> Aaron Lu
                                </td>
                                <td>Technology (40%)<br>Energy (20%)<br>Consumer Cyclical (10%)<br>Non-Consumer Cyclical (10%)<br>Unclassified (20%)</td>
                                <td>
                                    <p class="text-success">+25.54%</p>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="amount" id="amount" class="form-control" required>
                                        <label class="form-control-placeholder" for="amount">Amount</label>
                                    </div>
                                    <a href="/dashboard" class="btn btn-info" role="button">Mirror It!</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
{% endblock %}

{% block content %}

<div class="my-charts">
    {{ myechart|safe }}
</div>
<h2>My Portfolio</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Stock Name</th>
        <th>Performance</th>
        <th>Yield</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>FB</td>
        <td><img src="../static/images/FB.png" class="img-rounded" alt="Cinque Terre"></td>
        <td class="text-danger">-2.64%</td>
    </tr>
    <tr>
        <td>GOOG</td>
        <td><img src="../static/images/GOOG.png" class="img-rounded" alt="Cinque Terre"></td>
        <td class="text-danger">-3.83%</td>
    </tr>
    <tr>
        <td>EDIT</td>
        <td><img src="../static/images/EDIT.png" class="img-rounded" alt="Cinque Terre"></td>
        <td class="text-danger">-3.16%</td>
    </tr>
    <tr>
        <td>TVIX</td>
        <td><img src="../static/images/TVIX.png" class="img-rounded" alt="Cinque Terre"></td>
        <td class="text-success">+24.93%</td>
    </tr>
    <tr>
        <td>CRSP</td>
        <td><img src="../static/images/CRSP.png" class="img-rounded" alt="Cinque Terre"></td>
        <td class="text-danger">-0.12%</td>
    </tr>
    </tbody>
</table>

<h2>Mirrored</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Portfolio Overview</th>
        <th>Amount ($)</th>
        <th>Average Yield</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Aaron Lu</td>
        <td>Technology (40%)<br>Energy (20%)<br>Consumer Cyclical (10%)<br>Non-Consumer Cyclical (10%)<br>Unclassified (20%)</td>
        <td>34,398</td>
        <td class="text-success">+49.12%</td>
    </tr>
    </tbody>
</table>

<footer class="container-fluid foot-wrap">
    <p align="center" style="margin-top: 20px;color:#878B91;">
        Copyright &copy; 2018 Team Mirror Trading
    </p>
</footer>
{% endblock %}
